public/assets/1ASIWMAKFTT_PRD_20220506_102257/1ASIWMAKFTT_PRD_20220506_102257.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:air_sellfromrecommendation_5_2="http://xml.amadeus.com/ITAREQ_05_2_IA" xmlns:air_sellfromrecommendationreply_5_2="http://xml.amadeus.com/ITARES_05_2_IA" xmlns:awsse="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" xmlns:docissuance_issueticket_15_1="http://xml.amadeus.com/TTKTIQ_15_1_1A" xmlns:docissuance_issueticketreply_15_1="http://xml.amadeus.com/TTKTIR_15_1_1A" xmlns:fare_informativepricingwithoutpnr_18_1="http://xml.amadeus.com/TIPNRQ_18_1_1A" xmlns:fare_informativepricingwithoutpnrreply_18_1="http://xml.amadeus.com/TIPNRR_18_1_1A" xmlns:fare_masterpricertravelboardsearch_20_2="http://xml.amadeus.com/FMPTBQ_20_2_1A" xmlns:fare_masterpricertravelboardsearchreply_20_2="http://xml.amadeus.com/FMPTBR_20_2_1A" xmlns:fare_pricepnrwithbookingclass_18_1="http://xml.amadeus.com/TPCBRQ_18_1_1A" xmlns:fare_pricepnrwithbookingclassreply_18_1="http://xml.amadeus.com/TPCBRR_18_1_1A" xmlns:pnr_addmultielements_17_1="http://xml.amadeus.com/PNRADD_17_1_1A" xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:pnr_reply_17_1="http://xml.amadeus.com/PNRACC_17_1_1A" xmlns:pnr_retrieve_17_1="http://xml.amadeus.com/PNRRET_17_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ticket_createtstfrompricing_4_1="http://xml.amadeus.com/TAUTCQ_04_1_1A" xmlns:ticket_createtstfrompricingreply_4_1="http://xml.amadeus.com/TAUTCR_04_1_1A" xmlns:tns="http://xml.amadeus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="Air_SellFromRecommendation_05_2_IA.xsd" namespace="http://xml.amadeus.com/ITAREQ_05_2_IA" />
      <xs:import schemaLocation="Air_SellFromRecommendationReply_05_2_IA.xsd" namespace="http://xml.amadeus.com/ITARES_05_2_IA" />
      <xs:import schemaLocation="DocIssuance_IssueTicket_15_1_1A.xsd" namespace="http://xml.amadeus.com/TTKTIQ_15_1_1A" />
      <xs:import schemaLocation="DocIssuance_IssueTicketReply_15_1_1A.xsd" namespace="http://xml.amadeus.com/TTKTIR_15_1_1A" />
      <xs:import schemaLocation="Fare_InformativePricingWithoutPNR_18_1_1A.xsd" namespace="http://xml.amadeus.com/TIPNRQ_18_1_1A" />
      <xs:import schemaLocation="Fare_InformativePricingWithoutPNRReply_18_1_1A.xsd" namespace="http://xml.amadeus.com/TIPNRR_18_1_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearch_20_2_1A.xsd" namespace="http://xml.amadeus.com/FMPTBQ_20_2_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearchReply_20_2_1A.xsd" namespace="http://xml.amadeus.com/FMPTBR_20_2_1A" />
      <xs:import schemaLocation="Fare_PricePNRWithBookingClass_18_1_1A.xsd" namespace="http://xml.amadeus.com/TPCBRQ_18_1_1A" />
      <xs:import schemaLocation="Fare_PricePNRWithBookingClassReply_18_1_1A.xsd" namespace="http://xml.amadeus.com/TPCBRR_18_1_1A" />
      <xs:import schemaLocation="PNR_AddMultiElements_17_1_1A.xsd" namespace="http://xml.amadeus.com/PNRADD_17_1_1A" />
      <xs:import schemaLocation="PNR_Reply_17_1_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_17_1_1A" />
      <xs:import schemaLocation="PNR_Retrieve_17_1_1A.xsd" namespace="http://xml.amadeus.com/PNRRET_17_1_1A" />
      <xs:import schemaLocation="PNR_List_00_1_1A.xsd" namespace="http://xml.amadeus.com/TNLRES_00_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="Ticket_CreateTSTFromPricing_04_1_1A.xsd" namespace="http://xml.amadeus.com/TAUTCQ_04_1_1A" />
      <xs:import schemaLocation="Ticket_CreateTSTFromPricingReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/TAUTCR_04_1_1A" />
      <xs:import schemaLocation="WBS_Session-2.0.xsd" namespace="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_2.0">
    <wsdl:part name="session" element="awsse:Session" />
  </wsdl:message>
  <wsdl:message name="Air_SellFromRecommendation_5_2">
    <wsdl:part name="Air_SellFromRecommendation_5_2" element="air_sellfromrecommendation_5_2:Air_SellFromRecommendation" />
  </wsdl:message>
  <wsdl:message name="Air_SellFromRecommendationReply_5_2">
    <wsdl:part name="Air_SellFromRecommendationReply_5_2" element="air_sellfromrecommendationreply_5_2:Air_SellFromRecommendationReply" />
  </wsdl:message>
  <wsdl:message name="DocIssuance_IssueTicket_15_1">
    <wsdl:part name="DocIssuance_IssueTicket_15_1" element="docissuance_issueticket_15_1:DocIssuance_IssueTicket" />
  </wsdl:message>
  <wsdl:message name="DocIssuance_IssueTicketReply_15_1">
    <wsdl:part name="DocIssuance_IssueTicketReply_15_1" element="docissuance_issueticketreply_15_1:DocIssuance_IssueTicketReply" />
  </wsdl:message>
  <wsdl:message name="Fare_InformativePricingWithoutPNR_18_1">
    <wsdl:part name="Fare_InformativePricingWithoutPNR_18_1" element="fare_informativepricingwithoutpnr_18_1:Fare_InformativePricingWithoutPNR" />
  </wsdl:message>
  <wsdl:message name="Fare_InformativePricingWithoutPNRReply_18_1">
    <wsdl:part name="Fare_InformativePricingWithoutPNRReply_18_1" element="fare_informativepricingwithoutpnrreply_18_1:Fare_InformativePricingWithoutPNRReply" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearch_20_2">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearch_20_2" element="fare_masterpricertravelboardsearch_20_2:Fare_MasterPricerTravelBoardSearch" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearchReply_20_2">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearchReply_20_2" element="fare_masterpricertravelboardsearchreply_20_2:Fare_MasterPricerTravelBoardSearchReply" />
  </wsdl:message>
  <wsdl:message name="Fare_PricePNRWithBookingClass_18_1">
    <wsdl:part name="Fare_PricePNRWithBookingClass_18_1" element="fare_pricepnrwithbookingclass_18_1:Fare_PricePNRWithBookingClass" />
  </wsdl:message>
  <wsdl:message name="Fare_PricePNRWithBookingClassReply_18_1">
    <wsdl:part name="Fare_PricePNRWithBookingClassReply_18_1" element="fare_pricepnrwithbookingclassreply_18_1:Fare_PricePNRWithBookingClassReply" />
  </wsdl:message>
  <wsdl:message name="PNR_AddMultiElements_17_1">
    <wsdl:part name="PNR_AddMultiElements_17_1" element="pnr_addmultielements_17_1:PNR_AddMultiElements" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_17_1">
    <wsdl:part name="PNR_Reply_17_1" element="pnr_reply_17_1:PNR_Reply" />
  </wsdl:message>
  <wsdl:message name="PNR_Retrieve_17_1">
    <wsdl:part name="PNR_Retrieve_17_1" element="pnr_retrieve_17_1:PNR_Retrieve" />
  </wsdl:message>
  <wsdl:message name="PNR_List_0_1">
    <wsdl:part name="PNR_List_0_1" element="pnr_list_0_1:PNR_List" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:message name="Ticket_CreateTSTFromPricing_4_1">
    <wsdl:part name="Ticket_CreateTSTFromPricing_4_1" element="ticket_createtstfrompricing_4_1:Ticket_CreateTSTFromPricing" />
  </wsdl:message>
  <wsdl:message name="Ticket_CreateTSTFromPricingReply_4_1">
    <wsdl:part name="Ticket_CreateTSTFromPricingReply_4_1" element="ticket_createtstfrompricingreply_4_1:Ticket_CreateTSTFromPricingReply" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="Air_SellFromRecommendation">
      <wsdl:input message="tns:Air_SellFromRecommendation_5_2" />
      <wsdl:output message="tns:Air_SellFromRecommendationReply_5_2" />
    </wsdl:operation>
    <wsdl:operation name="DocIssuance_IssueTicket">
      <wsdl:input message="tns:DocIssuance_IssueTicket_15_1" />
      <wsdl:output message="tns:DocIssuance_IssueTicketReply_15_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_InformativePricingWithoutPNR">
      <wsdl:input message="tns:Fare_InformativePricingWithoutPNR_18_1" />
      <wsdl:output message="tns:Fare_InformativePricingWithoutPNRReply_18_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
      <wsdl:input message="tns:Fare_MasterPricerTravelBoardSearch_20_2" />
      <wsdl:output message="tns:Fare_MasterPricerTravelBoardSearchReply_20_2" />
    </wsdl:operation>
    <wsdl:operation name="Fare_PricePNRWithBookingClass">
      <wsdl:input message="tns:Fare_PricePNRWithBookingClass_18_1" />
      <wsdl:output message="tns:Fare_PricePNRWithBookingClassReply_18_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <wsdl:input message="tns:PNR_AddMultiElements_17_1" />
      <wsdl:output message="tns:PNR_Reply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <wsdl:input message="tns:PNR_Retrieve_17_1" />
      <wsdl:output message="tns:PNR_Reply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <wsdl:input message="tns:PNR_Retrieve_17_1" />
      <wsdl:output message="tns:PNR_List_0_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_CreateTSTFromPricing">
      <wsdl:input message="tns:Ticket_CreateTSTFromPricing_4_1" />
      <wsdl:output message="tns:Ticket_CreateTSTFromPricingReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Air_SellFromRecommendation">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/ITAREQ_05_2_IA" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocIssuance_IssueTicket">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/TTKTIQ_15_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fare_InformativePricingWithoutPNR">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/TIPNRQ_18_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/FMPTBQ_20_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fare_PricePNRWithBookingClass">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/TPCBRQ_18_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/PNRADD_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/PNRRET_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/PNRRET_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_CreateTSTFromPricing">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWMAKFTT/TAUTCQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_2.0" part="session" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <soap:address location="https://nodeD1.production.webservices.amadeus.com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--1F8B0800000000000000258DC10AC2301005EFFD8A3D2AD2B20D5421B7A034881684067A5E740F8B4D1AD228F8F7063DBCCBC0CCB31C385196254016CF6B261F352854AAC6AEC63DF4491EF48116B552BA3B801DDC0E512356D378BA82FDFB4B8237A7B5648ADC6083D571160E1928C659EEBF030D9E9E9CD3AB4C226C0673D99688B94120CF1A5A339EA7027BE7BEB962532996000000-->
